body{
    background: #dfe0e9;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.text-center {
    text-align: center;
}

.box {
    flex: 1;
}

.btn-white {
    position: relative;
    width:;
    height: 30px;
    background: #d8dbe3;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
    border-radius: 50px;
}
