body {
    font-family: 'Glegoo', serif;
}
.container {
    margin: 0 auto;
    width: 80%;
    padding: 1%
}
.box {
    border-radius: 20px;
    padding: 2%;
}
.text-center {
    text-align: center;
}
.button {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 10px;
}
.bg-light {
    background: #EFEEEE;
    color:dimgrey;
}
.shadow-light {
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51), -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
}
.bg-dark {
    background: #363a3b;
    color:#00ffdc;
}
.shadow-dark {
    border: 1px solid rgb(54, 58, 59);
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.15), -6px -6px 26px 0 rgba(78, 78, 78, 0.45);
}
